@charset "utf-8";
/* Global Styles */

body {
	margin-left: auto;
	margin-right: auto;
	width: 92%;
	max-width: 960px;
	padding-left: 2.275%;
	padding-right: 2.275%;
	background-image: url("../images/image1.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-color: white;
}
/* Header */
header {
	text-align: center;
	display: block;
}
header .profileLogo{
		width: 100%;
	background-color: black;
	clear: left;
	border-bottom: 0.2px white solid;
	padding-bottom: 20px;
}

.secondary_header {
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: black;
	clear: left;
	
}

.secondary_header ul 
{
	margin-top: 0%;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 0px;
	width: 100%;
	
}
.secondary_header ul li {
	list-style: none;
	float: left;
	margin-right: auto;
	margin-top: 0px;
	font-family: "Source Sans Pro";
	font-weight: normal;
	color: #FFFFFF;
	letter-spacing: 1px;
	margin-left: auto;
	text-align: center;
	width: 16%;
	transition: all 0.3s linear;
	
}
.secondary_header ul li a:hover {
	color: #34A4D8;
	cursor: pointer;
}

.secondary_header ul li a{
	
	text-decoration: none;
	color: white;
	padding-left: 40px;
}

header .profileHeader{
	background-color: white;
	padding-left:25%;
	padding-right: 25%;
	padding-bottom: 5%;
	padding-top: 5%;
	margin: 0px 0px 0px 0px;
}

header .profileHeader h1 {
	font-family: 'Montserrat', sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
}
header .profileHeader h3 {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 16px;
	font-weight: 700;
	line-height: 24px;
}
hr {
	background-color: rgba(208,207,207,1.00);
	height: 1px;
}
header .profileHeader p {
	font-family: sans-serif;
	color: rgba(146,146,146,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 1.8;
	overflow-y: auto;
	
}
/* Main Content sections */

.externalResourcesNav .externalResources a {
	font-family: 'Montserrat', sans-serif;
	color: rgba(255,255,255,1.00);
	font-size: 14px;
	font-weight: 400;
	line-height: 18px;
	text-decoration: none;
}
.stretch {
	content: '';
	display: inline-block;
	margin-left: 2%;
	margin-right: 2%;
}


/* Media query for Mobile devices*/
@media only screen and (min-width : 285px) and (max-width : 480px) {
/* Header */
header {
	width: 100%;
	float: none;
}
	
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
	
 .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}	
	
header .profileLogo .logoPlaceholder {
	display: inline-block;
}
header .profilePhoto {
	display: inline-block;
}
header .profileHeader {
	text-align: center;
	margin-top: 0px 0px 0px 0px;
	background-color: white;
}
header .profileHeader p {
	text-align: justify;
}

}

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {
/* Header */
header {
	width: 100%;
	float: none;
}
	
.secondary_header ul li {
	float: none;
	margin-top: 28px;
	margin-left: 0px;
	width: 100%;
}
 .secondary_header ul {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	height: auto;
	width: 100%;
	text-align: center;
}
.secondary_header {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 1px;
	padding-bottom: 40px;
}	
	
	
header .profileLogo .logoPlaceholder {
	display: inline-block;
	font-family: 'Montserrat', sans-serif;
}
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
	margin-top: 5%;
}
header .profileHeader {
	text-align: left;
	margin-top: 0px 0px 0px 0px;
	background-color: white;
	}
/* Footer */
footer .footerDisclaimer {
	float: left;
	margin-left: 3%;
	font-family: sans-serif;
	background-color: white;
	}

}

/* Desktops and laptops  */
@media only screen and (min-width:1025px) {
/* Header */
header .profileLogo .logoPlaceholder {
	float: left;
	margin-bottom: 50px;
}
	
	
header .profilePhoto {
	float: left;
	clear: both;
	margin-right: 3%;
}
header .profileHeader {
	text-align: left;
	padding-top: 10%;
}

}
